{% extends 'main/base.html' %}

{% block title %}Login{% endblock %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
	<form method="POST" class="form-group text-center" novalidate>
		<img src="{% static 'main/images/quotera_logo_300x300.png' %}" class="mb-4 mt-4" height="100" width="100" alt="Company Logo">
		<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
		<div class="w-50 mx-auto">
			{% csrf_token %}
			{{ form|crispy }}
		</div>
		<button type="submit" class="btn btn-success">Login</button>
    </form>
{% endblock %}