{% extends 'main/base.html' %}

{% block title %}Login{% endblock %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
	<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
		<div class="card card-signin my-5" style="border-radius:1rem">
			<div class="card-body">
				<form method="POST" class="form-group text-center" novalidate>
					<img src="{% static 'main/images/quotera_logo_300x300.png' %}" class="mb-4 mt-4" height="100" width="100" alt="Company Logo">
					<h3 class="card-title text-center">Please Sign In</h1>
					<div class="w-50 mx-auto">
						{% csrf_token %}
						{{ form|crispy }}
					</div>
					<button type="submit" class="btn btn-login">Sign In</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}