{% load crispy_forms_tags %}
{% load static %}

<style type='text/css'>
    .list-group-item:nth-child(even) {
        background: #DDD
    }
    .list-group-item:nth-child(odd) {
        background: #EEE
    }
</style>

{{ formset.management_form|crispy }}

{% for form in formset.forms %}
    {% crispy form %}
{% endfor %}

<br>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'quotes/libraries/django-dynamic-formset/jquery.formset.js' %}">
</script>
<script type="text/javascript">
    $('.formset_row-{{ formset.prefix }}').formset({
        addText: 'add another',
        addCssClass: 'btn btn-primary',
        deleteText: 'remove',
        deleteCssClass: 'btn btn-danger',
        // deleteContainerClass: 'delete-container',
        prefix: '{{ formset.prefix }}',
        hideLastAddForm: true,
        formCssClass: '{{ formset.prefix }}'
    });
</script>