{% extends 'main/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div id="main_page" class="justify-content-center bg-white" name="content">
    <div class="row no-gutters">
        <div class="col-8">
            <div id="left-circle-wrapper">
                <div id="left-circle">
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-center">
            <div class="test inner cover text-center">
                <h1 class="cover-heading mb-4">Welcome to Quotera</h1>
                <p class="lead">Please sign in to write quotes, edit details, and send customer emails</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}