{% extends 'main/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div id="main_page" class="justify-content-center bg-white" name="content">
    <div class="row no-gutters">
        <div class="col-8">
            <div id="left-circle-wrapper">
                <div id="circle-content">
                    <h1 class="cover-heading mb-4">Welcome to Quotera</h1>
                    <p>Quotera allows you to write and manage product quotes, email customer invoices, and generate build spreadsheets for manufacturing.</p>
                </div>
                <div id="left-circle">
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="inner cover text-center">
                <h1 class="cover-heading mb-4">Click here to sign in</h1>
                <a class="btn btn-login" href="{% url 'login' %}" role="button">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}